@import "bootstrap";

.bg-success {
    background-color: rgba(144, 238, 144, 0.5) !important;
}

.navbar, .nav-link, .navbar-brand {
    font-family: 'Arial', sans-serif;
}

.navbar-brand {
    font-size: 2rem;
    font-weight: normal;
    text-align: left;
}

.nav-link {
    font-size: 1.25rem;
    font-weight: bold;
}

.dropdown-item {
    font-size: 1rem;
    font-weight: bold;
    background-color: rgba(144, 238, 144, 0.5);
    color: rgba(0, 0, 0, 1);
}

.dropdown-item:hover {
    color: rgba(0, 0, 0, 1);
}

.dropdown-menu {
    background-color: rgba(144, 238, 144, 0.5);
    border: none;
    padding: 0;
    margin: 0;
    box-shadow: none;
}

.custom-font-size {
    font-size: 1.5rem;
}

.small {
    font-size: 1rem !important;
}

.card, .card-body, .card-title, .card-text, .card-footer {
    font-family: 'Arial', sans-serif;
}

.card {
    margin-top: 25px;
}

.card-title {
    font-size: 1.5rem;
}

.card-text {
    font-size: 1rem;
    font-style: italic;
}

.card-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 1rem;
    text-align: center;
    white-space: normal;
}

.card-footer .special-word {
    font-size: 1rem;
    font-weight: bold;
    word-wrap: break-word;
}

.content {
    margin-top: 20px;
    padding-top: 20px;
    margin-bottom: 200px;
}

footer {
    background-color: #343a40;
    color: white;
    font-family: 'Arial', sans-serif;
    font-size: 0.875rem;
    padding: 0.25rem 0;
}

footer h5 {
    font-size: 1.4rem;
    font-weight: bold;
    color: #90ee90;
}

footer a {
    font-size: 1.25rem;
    font-weight: normal;
    text-decoration: none;
    color: #ffffff;
}

footer a:hover {
    color: #ffffff;
}

footer p {
    font-size: 1.25rem;
}

footer .text-center {
    font-size: 0.875rem;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

body {
    margin-top: 0;
}

.margin-top-custom {
    margin-top: 20px;
}




